.user-container {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.5em
  ;
}

.user-name-top {
  width: 245px;
  height: 45px;
  font-size: 50px;
  padding-left: 1.0em;
  padding-top: 0.5em;
}

.btn-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 1.5em;
}
.formuser__btn-pri {
  width: 227px;
  height: 45px;  
  background-color: #555A88;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.formuser__btn-pri:hover {
    filter: brightness(1.2);
}